body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* menu déroulant, choix de l'algo */
select {
    padding: 10px;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

/* formulaire d'envoi de la phrasse à chiffrer */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
